<%= form_for @destinations.to_ary, :url => {controller: ctrl, action: act}, :method => mth do |f| %>    
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-line-chart"></span><%= msg %></h3>
                </div>
                <div id="vote" class="panel-body">
                    <ul class="list-group">
                        <% @destinations.each do |destination| %>
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        <%= radio_button_tag :destination_id, destination.id %> 
                                        <%= label_tag destination.name %>
                                    </label>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <div class="panel-footer text-center">
                    <%= submit_tag 'Vote', class: "btn btn-primary btn-block btn-sm"%>
                </div>
            </div>
        </div>
    </div>
<%end%>